<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
       

        <div class="table-responsive">
            <table class="table" *ngIf='friends && friends.length'>
                <thead>
                    <tr>
                       
                        <th>Name(Builtin Pipe)</th>
                        <th>Hobby(Builtin Pipe)</th>
                        <th>Name(Custom Pipe)</th>
                        <th>Hobby(Custom Pipe)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = 'let friend of friends '>
                        <td>{{friend.name |uppercase}}</td>
                        <td>{{friend.hobby|lowercase}}</td>
                        <td>{{friend.name |UppercasePipe}}</td>
                        <td>{{friend.hobby|LowercasePipe}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>
</div>